{% load static %}
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <a href="{% url 'dashboard' %}" class="flex ms-2 md:me-24">
            <img src="{{info.logo.url}}" class="h-8 me-3" alt="FlowBite Logo" />
          </a>
        </div>
        <div class="flex items-center">
            <div class="flex items-center ms-3 gap-3">
                {% include "parts/theme_btn.html" %}
            </div>
          </div>
      </div>
    </div>
</nav>