{% extends "_base.html" %}
{% load static %}
{% load exam_tags %}
{% block title %}My Performance{% endblock title %}

{% block content %}

{% include "exams/parts/navbar.html" %}
{% include "exams/parts/sidebar.html" %} 
<div class="p-4 sm:ml-64 mt-14">
    <h1 class="my-4 text-center text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">
        My performance
    </h1>
    <hr class="w-48 h-1 mx-auto my-4 bg-primary-100 border-0 rounded md:my-10 dark:bg-gray-700">
    <div class="w-full border rounded shadow-sm dark:bg-gray-800 p-4 md:p-6">
        <!-- Line Chart -->
        <div class="py-6" id="performance-chart"></div>
        <hr class="border">
        <p class="py-2 text-purple-950 dark:text-white text-lg">
            Your performance summary is displayed here. You can view the number of questions you answered correctly, incorrectly, or skipped across all your exams. Additionally, you can see the percentage breakdown of your answers for a quick overview of how well you did.
        </p>
    </div>
    {% comment %} End show exam table {% endcomment %}
    <div class="p-6 gap-2 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gra">
      <table id="exam-table" class="border bg-white dark:bg-black dark:border-black shadow-sm">
        <thead>
            <tr>
                <th>
                    <span class="flex items-center">
                        Exam
                    </span>
                </th>
                <th>
                    <span class="flex items-center">
                        Performance
                    </span>
                </th>
                <th>
                    <span class="flex items-center">
                        Actions
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
          {% for exam in exams %}
            <tr class="hover:bg-gray-100 text-lg">
                <td>
                    {{exam.name}}
                    {% user_questions_answered_in_exam exam=exam user=user target="total" as total %}
                    <span data-tooltip-target="total-count-tooltip{{exam.id}}">
                        ({{total}})
                    </span>
                    <div id="total-count-tooltip{{exam.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Number of questions answered.
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </td>
                <td>
                    {% user_questions_answered_in_exam exam=exam user=user target="percent" as percent %}
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 relative" data-tooltip-target="percent-exam-{{exam.id}}">
                        <div class="absolute bg-green-600 h-2.5 rounded-l-full" style="width: {{percent.correct}}%"></div>
                        <div class="absolute bg-red-600 h-2.5" style="width: {{percent.incorrect}}%; left: {{percent.correct}}%"></div>
                        <div class="absolute bg-yellow-400 h-2.5 rounded-r-full" style="width: {{percent.skipped}}%; left: calc({{percent.correct}}% + {{percent.incorrect}}%)"></div>
                    </div>
                    <div id="percent-exam-{{exam.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        <div class="tooltip-inner">
                            Correct: {{ percent.correct}}% ({{total}})<br>
                            Incorrect: {{ percent.incorrect }}% ({{total}})<br>
                            Skipped: {{ percent.skipped }}% ({{total}})
                        </div>
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </td>
                <td class="flex justify-center">
                  {% include "exams/parts/exam_action.html" %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% comment %} show exam table {% endcomment %}
</div>
{% endblock content %}
{% block js %}
<script src="{% static "src/js/apexcharts.js" %}"></script>
<script>
const getChartOptions = () => {
    return {
      series: [{{percent_correct}}, {{percent_incorrect}}, {{percent_skipped}}],
      colors: ["#31C48D", "#F98080", "#FCE96A"],
      chart: {
        height: 420,
        width: "100%",
        type: "pie",
      },
      stroke: {
        colors: ["white"],
        lineCap: "",
      },
      plotOptions: {
        pie: {
          labels: {
            show: true,
          },
          size: "100%",
          dataLabels: {
            offset: -25
          }
        },
      },
      labels: ["Correct", "Incorrect", "Skipped"],
      dataLabels: {
        enabled: true,
        style: {
          fontFamily: "Inter, sans-serif",
        },
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + "%"
          },
        },
      },
      xaxis: {
        labels: {
          formatter: function (value) {
            return value  + "%"
          },
        },
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
    }
  }
  
  if (document.getElementById("performance-chart") && typeof ApexCharts !== 'undefined') {
    const chart = new ApexCharts(document.getElementById("performance-chart"), getChartOptions());
    chart.render();
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
<script>
  // for data table to display question
  if (document.getElementById("exam-table") && typeof simpleDatatables.DataTable !== 'undefined') {
    const dataTable = new simpleDatatables.DataTable("#exam-table", {
        searchable: true,
        sortable: true
    });
}
</script>
<script>
  // for actions
  $(".re-examine").click(function (event){
    event.preventDefault();
    showLoader();
    const action = $(this).data("action");
    const examId = $(this).data("exam-id");
    const url = `{% url 're_examine_by_exam' %}`;
    const data = { action: action, exam_id: examId };
    $.ajax({
          url: url,
          method: "POST",
          data: JSON.stringify(data),
          contentType: "application/json",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          success: function (response) {
            // hide loader
            hideLoader();
            if (response.session_id) {
              confirmAction(`Re-examined successfully. (${action})` , "success", function () {
                const redirectUrl = "{% url 'show_session' session_id=0 %}".replace("0", response.session_id);
                window.location.href = redirectUrl;
              });
            }

          },
          error: function (xhr, status, error) {
            // hide loader
            hideLoader();
            // show error message
            console.log(error);
          },
        });
  });

</script>
{% endblock js %}