{% extends "_base.html" %}
{% load static %}
{% block title %}Show Session{% endblock title %}
{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
{% include "exams/parts/session_navbar.html" %}
<div class="container mx-auto mt-14 h-screen p-5">

    <div class="w-2/3 mx-auto">
        <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
            <div class="bg-gray-600 h-2.5 rounded-full dark:bg-gray-300" style="width: {{percentage}}%"></div>
        </div>
    </div>
    <hr class="h-px my-8 w-2/4 mx-auto bg-primary-200 border-0 dark:bg-gray-700">
    <div class="flex justify-center"><p class="p-2 text-sm my-2 bg-yellow-100 text-black rounded-md shadow">Question ID: {{question.id}}</p></div>
    <h2 class="text-4xl font-extrabold dark:text-white text-center mt-2">{{question.text}}</h2>
    {% if question.figure %}
    <a href="{{ question.figure.url }}" data-lightbox="image-1">
        <img class="max-h-32 max-w-32 mx-auto my-5" src="{{ question.figure.url }}" alt="{{ question.text }}">
    </a>
    {% endif %}
    <!-- show chooses -->

    
    <div class="flex justify-center">
        <ul class="md:w-2/3 w-full mx-auto text-sm my-6 font-medium text-gray-900 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            {% for choice in choices %}
                <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"> 
                    <div class="flex items-center ps-3 gap-2 {% if choice.id == answer.choice.id %}bg-purple-200 dark:bg-primary-950{% endif %}">
                        {% if choice.is_right %}
                        <i class="fa-solid fa-circle-check text-green-400" style="{% if not should_display %}display: none;{% endif %}"></i>
                        {% else %}
                        <i class="fa-solid fa-circle-xmark text-red-600" style="{% if not should_display %}display: none;{% endif %}"></i>
                        {% endif %}
                        <input id="choice-{{choice.id}}" {% if choice.id == answer.choice.id %}checked{% endif %} type="radio" value="{{choice.id}}" name="answer" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="choice-{{choice.id}}" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{choice.text}}</label>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    
    <!-- explained question -->
    <div class="flex justify-center" style="{% if not should_display %}display: none;{% endif %}" id="explanation-area">
        <div class="p-6 border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 my-5">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Explanation:</h3>
            <p class="text-sm my-4 text-gray-700 dark:text-gray-400">{{ question.explanation }}</p>
            {% if question.explanation_figure %}
            <a href="{{ question.explanation_figure.url }}" data-lightbox="image-2">
                <img class="max-h-32 max-w-32 mt-2" src="{{ question.explanation_figure.url }}" alt="{{ question.explanation }}">
            </a>
            {% endif %}
            {% if question.reference  %}
                <hr class="border border-purple-100 my-2">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Reference:</h3>
                <p class="text-sm my-4 text-gray-700 dark:text-gray-400">{{ question.reference }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% include "exams/parts/app_bar.html" %}
{% endblock content %}

{% block js %}
<script src="{% static 'src/js/lightbox.min.js' %}"></script>
<script>
    // answer sent using jquery
    function answerSend() {
        const selectedChoiceId = $('input[name=answer]:checked').val();
        if (!selectedChoiceId) {
            setAlert("Please select an answer!","error");
            return;
        }
        const csrfToken = '{{ csrf_token }}';
        const data = {
            choice_id: selectedChoiceId,
            session_id: '{{ session.id }}',
            question_id: '{{ question.id }}'

        };

        $.ajax({
            url: '{% url "answer" %}',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: JSON.stringify(data),
            success: function(response) {
                if (response.answer_id) {
                    // reload page
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                setAlert("Error sending answer: " + error,"error");
            }
        });

    }
    $("#answerSend").on('click', answerSend);
    // function to navigate question index
    function navigateQuestion(action) {
        const csrfToken = '{{ csrf_token }}';
        const data = {
            session_id: '{{ session.id }}',
            action: action
        }
        // send request to navigate_question_index
        $.ajax({
            url: '{% url "navigate_question_index" %}',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: JSON.stringify(data),
            success: function(response) {
                if (response.success) {
                    // reload page
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                setAlert("Error navigating question: " + error,"error");
            }
        });
    }
    $("#doPrev").on('click', function() {
        navigateQuestion('prev');
    });
    $("#doNext").on('click', function() {
        navigateQuestion('next');
    });
    // handle session finish
    function finishSession(params) {
        confirmAction("Are you sure you want to end this session","warning",function() {
            console.log("Finish session");
        });
    }
    $("#doFinish").on('click', function() {
        finishSession();
    });
</script>
{% endblock %}
