<div id="pro-banner" tabindex="-1" class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-primary-200 border border-gray-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-6 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex flex-col items-start mb-3 me-4 md:items-center md:flex-row md:mb-0">
        <a href="/" class="flex items-center mb-2 border-gray-200 md:pe-4 md:me-4 md:border-e md:mb-0 dark:border-gray-600">
            <img src="{{info.logo.url}}" class="h-6 me-2" alt="{{info.name}}">
            <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">{{info.name}}</span>
        </a>
        <p class="flex items-center font-bold text-md  text-gray-500 dark:text-gray-400">{{message}}</p>
    </div>
    <div class="flex items-center flex-shrink-0">
        {% if link %}
            <a href="{{link}}" class="px-5 py-2 me-2 text-xs font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Go</a>
        {% endif %}
        <button data-dismiss-target="#pro-banner" type="button" class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
          <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>